[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-fugative"]
	path = bundle/vim-fugative
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-yankring"]
	path = bundle/vim-yankring
	url = git://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/hallison/vim-markdown.git
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/gitolite.vim"]
	path = bundle/gitolite.vim
	url = git://github.com/tmatilai/gitolite.vim.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tangledhelix/vim-endwise.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
